.footer {
padding-top: 100px;
padding-bottom: 50px;
background: var( --color-bg-footer);
}


.footer-header {
font-family: 'R-Spectr', sans-serif;
}


a {
  color: var( --color-text);
  font-size: 15px;
  text-decoration: none;
  font-family: 'Default Sans', sans-serif;
}

.footer-icon {
  color: var( --color-text);
  font-size: 20px;
  margin-right: 50px;
  text-decoration: none;
  font-family: 'Default Sans', sans-serif; 
}


.footer-copywrite {
font-family: 'R-Spectr', sans-serif;  
font-size: 200px;
}
