.footer {
padding-top: 100px;
padding-bottom: 100px;
background: var( --color-bg-footer);
}


.footer-header {
font-family: 'R-Spectr', sans-serif;
color: var(  --color-footer-text);
}


a {
  color: var(  --color-footer-text);
  font-size: 15px;
  text-decoration: none;
  font-family: 'Default Sans', sans-serif;
}

.footer-icon {
  color: var( --color-footer-text);
  font-size: 20px;
  margin-right: 50px;
  text-decoration: none;
  font-family: 'Default Sans', sans-serif; 
}


.footer-copywrite {
  font-family: 'Default Sans', sans-serif;   
font-size: 15px;
color: var(  --color-footer-text);
}
