
.halloweenImage1 {
    position: absolute;
    width: 800px;
    top: 20px;
    right: 180px;
    background-image: url('../assets/hero1.png');
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 10s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}




.hero {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 25px;
padding-bottom: 25px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 50px;
padding-bottom: 50px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 50px;
padding-bottom: 50px;
}
//extra large
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 100px;
padding-bottom: 100px;
}



.hero-row {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}




.hero-h1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'R-Spectr', sans-serif;
font-size: 1.1rem;
text-align: center;
color: var(--color-hero-red);
transform: scale(2, 2);
font-weight: bold;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'R-Spectr', sans-serif;
font-size: 1.1rem;
text-align: center;
color: var(--color-hero-red);
transform: scale(5, 5);
font-weight: bold;
margin-bottom: 40px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'R-Spectr', sans-serif;
font-size: 1.1rem;
text-align: center;
color: var(--color-hero-red);
transform: scale(5, 5);
font-weight: bold;
margin-bottom: 40px;
}
//extra large
font-family: 'R-Spectr', sans-serif;
font-size: 1.1rem;
text-align: center;
color: var(--color-hero-red);
transform: scale(10, 10);
font-weight: bold;
}



.hero-h12 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'R-Spectr', sans-serif;
font-size: 1.1rem;
text-align: center;
color: var(--color-hero-red);
transform: scale(2, 2);
font-weight: bold;
padding-top: 15px;
padding-bottom: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px  var(--color-orange);

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'R-Spectr', sans-serif;
font-size: 1.1rem;
text-align: center;
color: var(--color-hero-red);
transform: scale(4, 4);
font-weight: bold;
padding-top: 30px;
padding-bottom: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px  var(--color-orange);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'R-Spectr', sans-serif;
font-size: 1.1rem;
text-align: center;
color: var(--color-hero-red);
transform: scale(4, 4);
font-weight: bold;
padding-top: 30px;
padding-bottom: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px  var(--color-orange);
}
//extra large
font-family: 'R-Spectr', sans-serif;
font-size: 1.1rem;
text-align: center;
color: var(--color-hero-red);
transform: scale(8, 8);
font-weight: bold;
padding-top: 15px;
padding-bottom: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px  var(--color-orange);
}


.halloweenImage {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 210px;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(-20deg);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 400px;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(-20deg);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 400px;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(-20deg);
}
//extra large
width: 800px;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(-20deg);
}


.heroImage-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}





.column1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}


.column2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 20px;
}



.k60-cont{
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
margin-top: 20px;
}
//extra large
display: flex;
flex-direction: column;
margin-top: 40px;
}



.k60 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 12px;
color: var(--color-text);

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 20px;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 20px;
color: var(--color-text);
}
//extra large
font-family: 'R-Spectr', sans-serif; 
font-size: 40px;
color: var(--color-text);
}



.k60-1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
 font-family: 'Default Sans', sans-serif;
font-size: 10px;
font-weight: bold;
color: var(--color-text);
margin-top: -10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
 font-family: 'Default Sans', sans-serif;
font-size: 16px;
font-weight: bold;
color: var(--color-text);
margin-top: -10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
 font-family: 'Default Sans', sans-serif;
font-size: 16px;
font-weight: bold;
color: var(--color-text);
margin-top: -10px;
}
//extra large
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
font-weight: bold;
color: var(--color-text);
margin-top: -20px;
}



.k60-2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
 font-family: 'Default Sans', sans-serif;
font-size: 10px;
font-weight: bold;
color: var(--color-text);
margin-top: 10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
 font-family: 'Default Sans', sans-serif;
font-size: 16px;
font-weight: bold;
color: var(--color-text);
margin-top: 10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
 font-family: 'Default Sans', sans-serif;
font-size: 16px;
font-weight: bold;
color: var(--color-text);
margin-top: 20px;
}
//extra large
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
font-weight: bold;
color: var(--color-text);
margin-top: 20px;
}



.k60-3 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
 font-family: 'Default Sans', sans-serif;
font-size: 10px;
font-weight: bold;
color: var(--color-text);
background: var(--color-orange);
width: 55px;
padding: 5px;
border-radius: 15px;
text-align: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
 font-family: 'Default Sans', sans-serif;
font-size: 10px;
font-weight: bold;
color: var(--color-text);
background: var(--color-orange);
width: 55px;
padding: 5px;
border-radius: 15px;
text-align: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
 font-family: 'Default Sans', sans-serif;
font-size: 10px;
font-weight: bold;
color: var(--color-text);
background: var(--color-orange);
width: 55px;
padding: 5px;
border-radius: 15px;
text-align: center;
}
//extra large
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
font-weight: bold;
color: var(--color-text);
background: var(--color-orange);
width: 110px;
padding: 10px;
border-radius: 30px;
text-align: center;
}



.off25-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
margin-top: 25px;
}
//extra large
display: flex;
flex-direction: column;
margin-top: 50px;
}



.off25 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 12px;
color: var(--color-text);

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 20px;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 20px;
color: var(--color-text);
}
//extra large
font-family: 'R-Spectr', sans-serif; 
font-size: 40px;
color: var(--color-text);
}



.off25-1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
 font-family: 'Default Sans', sans-serif;
font-size: 10px;
font-weight: bold;
color: var(--color-text);
margin-bottom: 40px;
margin-top: -10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
 font-family: 'Default Sans', sans-serif;
font-size: 16px;
font-weight: bold;
color: var(--color-text);
margin-bottom: 40px;
margin-top: -10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
 font-family: 'Default Sans', sans-serif;
font-size: 16px;
font-weight: bold;
color: var(--color-text);
margin-bottom: 40px;
margin-top: -10px;
}
//extra large
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
font-weight: bold;
color: var(--color-text);
margin-bottom: 80px;
margin-top: -20px;
}



.off25-2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
 font-family: 'Default Sans', sans-serif;
font-size: 10px;
font-weight: bold;
color: var(--color-text);
margin-top: 15px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
 font-family: 'Default Sans', sans-serif;
font-size: 16px;
font-weight: bold;
color: var(--color-text);
margin-top: 15px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
 font-family: 'Default Sans', sans-serif;
font-size: 16px;
font-weight: bold;
color: var(--color-text);
margin-top: 15px;
}
//extra large
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
font-weight: bold;
color: var(--color-text);
margin-top: 30px;
}




.StarImage-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
flex: none;
order: 1;
flex-grow: 0;
position: relative;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
flex: none;
order: 1;
flex-grow: 0;
position: relative;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
flex: none;
order: 1;
flex-grow: 0;
position: relative;
}
//extra large
flex: none;
order: 1;
flex-grow: 0;
position: relative;
}



.StarImage1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
position: absolute;
left: 40px;
top: 5px;
width: 20px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
position: absolute;
left: 70px;
top: 1px;
width: 25px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
position: absolute;
left: 70px;
top: 1px;
width: 25px;
}
//extra large
position: absolute;
left: 100px;
top: 70px;
width: 30px;
}



.StarImage2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
position: absolute;
left: 90px;
top: 50px;
width: 60px;
height: 60px;
animation: rotation 10s infinite linear;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
position: absolute;
left: 170px;
top: 50px;
width: 80px;
height: 80px;
animation: rotation 10s infinite linear;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
position: absolute;
left: 170px;
top: 50px;
width: 80px;
height: 80px;
animation: rotation 10s infinite linear;
}
//extra large
position: absolute;
left: 300px;
top: 150px;
width: 120px;
height: 120px;
animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}




.StarImage3 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
position: absolute;
right: 20px;
top: 130px;
width: 20px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
position: absolute;
right: 60px;
top: 120px;
width: 20px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
position: absolute;
right: 70px;
top: 110px;
width: 20px;
}
//extra large
position: absolute;
right: 110px;
top: 240px;
width: 30px;
}


.StarImage4 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
position: absolute;
right: 100px;
top: 200px;
width: 30px;
height: 30px;
animation: rotation 10s infinite linear;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
position: absolute;
right: 180px;
top: 280px;
width: 30px;
height: 30px;
animation: rotation 10s infinite linear;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
position: absolute;
right: 200px;
top: 240px;
width: 30px;
height: 30px;
animation: rotation 10s infinite linear;
}
//extra large
position: absolute;
right: 300px;
top: 380px;
width: 60px;
height: 60px;
animation: rotation 10s infinite linear;
}




.off-rect {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 50px;
height: 10px;
background: var(--color-orange);
margin-bottom: -10px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 125px;
height: 10px;
background: var(--color-orange);
margin-bottom: -10px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 150px;
height: 10px;
background: var(--color-orange);
margin-bottom: -10px;
}
//extra large
width: 200px;
height: 20px;
background: var(--color-orange);
margin-bottom: -20px;
}



.off-rect1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 50px;
height: 10px;
background: var(--color-orange);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 125px;
height: 10px;
background: var(--color-orange);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 150px;
height: 10px;
background: var(--color-orange);
}
//extra large
width: 200px;
height: 20px;
background: var(--color-orange);
}









