.hero {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-top: 100px;
padding-bottom: 100px;
}



.hero-row {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.heroImage-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}



.hero-h1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 30px;
color: var(--color-text);

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 30px;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 30px;
color: var(--color-text);
}
//extra large
font-family: 'R-Spectr', sans-serif;
font-size: 1.1rem;
text-align: center;
color: var(--color-hero-red);
transform: scale(10, 10);
font-weight: bold;
}



.hero-h12 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 30px;
color: var(--color-text);

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 30px;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 30px;
color: var(--color-text);
}
//extra large
font-family: 'R-Spectr', sans-serif;
font-size: 1.1rem;
text-align: center;
color: var(--color-hero-red);
transform: scale(8, 8);
font-weight: bold;
padding-top: 15px;
padding-bottom: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px  var(--color-orange);
}




.halloweenImage {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 200px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 200px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 200px;
}
//extra large
width: 800px;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(-20deg);
}



.column1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}


.column2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 20px;
}



.k60-cont{
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
}
//extra large
display: flex;
flex-direction: column;
margin-top: 40px;
}



.k60 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 30px;
color: var(--color-text);

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 30px;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 30px;
color: var(--color-text);
}
//extra large
font-family: 'R-Spectr', sans-serif; 
font-size: 40px;
color: var(--color-text);
}



.k60-1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
 font-family: 'Default Sans', sans-serif; 
font-size: 20px;
color: var(--color-text);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
color: var(--color-text);
}
//extra large
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
font-weight: bold;
color: var(--color-text);
margin-top: -20px;
}



.k60-2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
 font-family: 'Default Sans', sans-serif; 
font-size: 20px;
color: var(--color-text);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
color: var(--color-text);
}
//extra large
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
font-weight: bold;
color: var(--color-text);
margin-top: 20px;
}



.k60-3 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
 font-family: 'Default Sans', sans-serif; 
font-size: 20px;
color: var(--color-text);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
color: var(--color-text);
}
//extra large
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
font-weight: bold;
color: var(--color-text);
background: var(--color-orange);
width: 110px;
padding: 10px;
border-radius: 30px;
text-align: center;
}



.off25-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
}
//extra large
display: flex;
flex-direction: column;
margin-top: 50px;
}



.off25 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 30px;
color: var(--color-text);

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 30px;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'R-Spectr', sans-serif;  
font-size: 30px;
color: var(--color-text);
}
//extra large
font-family: 'R-Spectr', sans-serif; 
font-size: 40px;
color: var(--color-text);
}



.off25-1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
 font-family: 'Default Sans', sans-serif; 
font-size: 20px;
color: var(--color-text);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
color: var(--color-text);
}
//extra large
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
font-weight: bold;
color: var(--color-text);
margin-bottom: 80px;
margin-top: -20px;
}



.off25-2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
 font-family: 'Default Sans', sans-serif; 
font-size: 20px;
color: var(--color-text);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
color: var(--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
color: var(--color-text);
}
//extra large
 font-family: 'Default Sans', sans-serif;
font-size: 20px;
font-weight: bold;
color: var(--color-text);
margin-top: 30px;
}




.StarImage-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
flex: none;
order: 1;
flex-grow: 0;
position: relative;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
flex: none;
order: 1;
flex-grow: 0;
position: relative;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
flex: none;
order: 1;
flex-grow: 0;
position: relative;
}
//extra large
flex: none;
order: 1;
flex-grow: 0;
position: relative;
}



.StarImage1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
position: absolute;
left: -80px;
top: -200px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
position: absolute;
left: -270px;
top: -300px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
position: absolute;
left: -240px;
top: -300px;
}
//extra large
position: absolute;
left: 100px;
top: 70px;
width: 30px;
}



.StarImage2 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
position: absolute;
left: -80px;
top: -200px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
position: absolute;
left: -270px;
top: -300px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
position: absolute;
left: -240px;
top: -300px;
}
//extra large
position: absolute;
left: 300px;
top: 150px;
width: 120px;
height: 120px;
}


.StarImage3 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
position: absolute;
left: -80px;
top: -200px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
position: absolute;
left: -270px;
top: -300px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
position: absolute;
left: -240px;
top: -300px;
}
//extra large
position: absolute;
right: 110px;
top: 240px;
width: 30px;
}


.StarImage4 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
position: absolute;
left: -80px;
top: -200px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
position: absolute;
left: -270px;
top: -300px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
position: absolute;
left: -240px;
top: -300px;
}
//extra large
position: absolute;
right: 300px;
top: 380px;
width: 60px;
height: 60px;
}




.off-rect {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 400px;
height: 100px;
background: var(--color-orange);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 400px;
height: 100px;
background: var(--color-orange);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 400px;
height: 100px;
background: var(--color-orange);
}
//extra large
width: 200px;
height: 20px;
background: var(--color-orange);
margin-bottom: -20px;
}



.off-rect1 {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 400px;
height: 100px;
background: var(--color-orange);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 400px;
height: 100px;
background: var(--color-orange);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 400px;
height: 100px;
background: var(--color-orange);
}
//extra large
width: 200px;
height: 20px;
background: var(--color-orange);
margin-bottom: -20px;
}









