
.item {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
  border: 2px solid var(--color-orange);
  padding: 5px 10px;
  margin: auto;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
  border: 2px solid var(--color-orange);
  padding: 10px 20px;
  margin: auto;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
  border: 2px solid var(--color-orange);
  padding: 10px 20px;
  margin: auto;
}
//extra large
  border: 2px solid var(--color-orange);
  padding: 10px 40px;
  margin: auto;
}




.item-image-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
//extra large
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 320px;
height: 300px;
//background: var(--color-orange);
}


.item-image {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 200px;
height: 200px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 200px;
height: 200px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 200px;
height: 200px;
}
//extra large
width: 200px;
height: 200px;
}



.item-title {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
text-align: left;
font-size: 20px;
font-family: 'R-Spectr', sans-serif;
color: (--color-text);
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
text-align: left;
font-size: 20px;
font-family: 'R-Spectr', sans-serif;
color: (--color-text);
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
text-align: left;
font-size: 20px;
font-family: 'R-Spectr', sans-serif;
color: (--color-text);
}
//extra large
text-align: left;
font-size: 20px;
font-family: 'R-Spectr', sans-serif;
color: (--color-text);
border-top: 2px solid var(--color-orange);
margin-bottom: 10px;
padding-top: 10px;
}


.item-info {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
justify-content: space-between;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
justify-content: space-between;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
justify-content: space-between;
}
//extra large
display: flex;
align-items: center;
justify-content: space-between;
border-top: 2px solid var(--color-orange);
}


.item-price {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
text-align: left;
font-size: 18px;
font-family: 'Default Sans', sans-serif;
color: (--color-orange);
font-weight: bold;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
text-align: left;
font-size: 18px;
font-family: 'Default Sans', sans-serif;
color: (--color-orange);
font-weight: bold;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
text-align: left;
font-size: 18px;
font-family: 'Default Sans', sans-serif;
color: (--color-orange);
font-weight: bold;
}
//extra large
text-align: left;
font-size: 24px;
font-family: 'Default Sans', sans-serif;
color: (--color-orange);
font-weight: bold;
margin-bottom: 10px;
padding-top: 30px;
}



#button {
    --background: #f94a4c;
    --text: #fff;
    --cart: #fff;
    --tick: var(--background);
    position: relative;
    border: none;
    background: none;
    padding: 16px 28px;
    margin-bottom: -10px;
    border-radius: 8px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    width: 20px;
    color: var(--text);
    background: var(--background);
    transform: scale(var(--scale, 1));
    transition: transform .4s cubic-bezier(.36, 1.01, .32, 1.27);
    &:active {
        --scale: .95;
    }

#plus{
  display: block;
  font-size: 25px;
  margin-left: -12px;
}

.plus {
  visibility: visible;
  opacity: 1;
  animation: visibile  3.7s linear 0.33s;
}

@keyframes visibile {
  0% {

  }

100% {

}

}

   
    .cart {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -13px 0 0 -18px;
        transform-origin: 12px 23px;
        transform: translateX(-120px) rotate(-18deg);
        &:before,
        &:after {
            content: '';
            position: absolute;
        }
        &:before {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            box-shadow: inset 0 0 0 2px var(--cart);
            bottom: 0;
            left: 9px;
            filter: drop-shadow(11px 0 0 var(--cart));
        }
        &:after {
            width: 16px;
            height: 9px;
            background: var(--cart);
            left: 9px;
            bottom: 7px;
            transform-origin: 50% 100%;
            transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
            transition: transform 1.2s ease var(--fill-d);
        }
        svg {
            z-index: 1;
            width: 36px;
            height: 26px;
            display: block;
            position: relative;
            fill: none;
            stroke: var(--cart);
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
            polyline {
                &:last-child {
                    stroke: var(--tick);
                    stroke-dasharray: 10px;
                    stroke-dashoffset: var(--offset, 10px);
                    transition: stroke-dashoffset .4s ease var(--offset-d);
                }
            }
        }
    }
    &.loading {
        --scale: .95;
        --icon-r: 180deg;
        --fill: 1;
        --fill-d: .8s;
        --offset: 0;
        --offset-d: 1.73s;
        .cart {
            animation: cart 3.4s linear forwards .2s;
        }
    }
}

@keyframes cart {
    12.5% {
        transform: translateX(-60px) rotate(-18deg);
    }
    25%,
    45%,
    55%,
    75% {
        transform: none;
    }
    50% {
        transform: scale(.9);
    }
    44%,
    56% {
        transform-origin: 12px 23px;
    }
    45%,
    55% {
        transform-origin: 50% 50%;
    }
    87.5% {
        transform: translateX(70px) rotate(-18deg);
    }
    100% {
        transform: translateX(140px) rotate(-18deg);
    }
}



























